main{
    h1{
        text-align: center;
        width: 300px;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    img{
        width: 300px;
        display: block;
        margin: auto;
        padding-bottom: 50px;
    }
}